@{
    ViewData["Title"] = "Enviado";
}

<section>
    <div class="orcamento-enviado margin-left">
        <h2>Logo retornaremos seu orçamento!</h2>
        <a asp-controller="Orcamento" asp-action="Index">Voltar</a>
    </div>
</section>